body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color:#c8f4f4;
}

.app {
    max-width:600px;
    margin : 0 auto;
    padding :20px;
    background-color: #cfff;
    box-shadow : 0 0 10px rgba(0,0,0,0.1),
}

h1 {
    text-align: center;
}

ul {
    list-style-type: armenian;
    padding : 0;
}

li {
    background-color: #f1f1f1;
    margin : 10px 0;
    padding : 10px;
    border-radius : 5px;
}

button {
    padding : 5px 10px;
    background-color : #4caf50;
    color:white;
    border : none;
    border-radius: 5px;
    cursor : pointer;
}

button:hover {
    background-color : #45a049;
}