body {
    display : flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding:10px;
    background-color:#c8f4f4;
}

.app {
    display : flex;
    flex-direction : column;
    align-items : centre;
    max-width:800px;
    margin : 10 auto;
    padding :50px;
    gap : 10px;
    background-color: #e8f4f4;
    box-shadow : 0 0 10px rgba(0,0,0,0.1),
}

h1 {
    text-align: center;
}

ul {
    list-style-type: armenian;
    padding : 0;
}

li {
    background-color: #f1f1f1;
    margin : 10px 0;
    padding : 10px;
    border-radius : 10px;
}

.task_form {
    display : flex;
    flex-direction: column;
    width : 100%;
    margin : 5px;
    padding : 5px;
    gap : 10px;
    align-items : center;
}

.is_completed_chkbx {
    display : flex;
    align-items : center;
    margin : 5px;
    padding : 5px;
    align-self : flex-start;
}

button {
    padding : 5px 10px;
    background-color : #4caf50;
    color:white;
    border : none;
    border-radius: 5px;
    cursor : pointer;
}

button:hover {
    background-color : #45a049;
}

.task_table {
    margin : 5px;
    padding : 5px;
    border : 1px solid;
    align-items: center;
    max-width : 800px;
    margin : 10px auto;
    padding : 5px;
    background-color : #e8f4f4;
}

th.act_header {
    text-align: center;
}

th, td {
    padding : 10px;
    text-align : left;
    border : 1px solid #ddd;
}