<html>
    <head>
        <title>Tasker</title>
        <link rel="stylesheet", href="static/style.css">
    </head>
    <body>
        <div class="app">
            <h1>Tasks List</h1>
            <ul id="task_list"></ul>
            <form class="task_form">
                <input type="text" id="input" placeholder="Input task">
                <input type="text" id="input" placeholder="Input task description">
                <lable class="is_completed_chkbx">
                    <input type="checkbox" id="is_complited">Is it complete?
                </lable>
                <button type="submit">Add New Task</button>
            </form>
        </div>
        <div class="task_table">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="task_table_body">

            </tbody>
        </div>
        <script src="static/app.js"></script>
    </body>
</html>